{% extends "foundation/base.html" %}

{% block base_body %}
<!--     <div class="row">
      <div class="large-centered columns">
        <h1>StartUp Guwahati!</h1>
      </div>
    </div> -->
    <div class="row">
        <div class="small-4 columns">
            <h2>This is a sidebar</h2>
            <div class="row">
                <div class="small-1 columns">
                    <h6>#1</h6>
                </div>
                <div class="small-9 columns">
                    <p>A post title</p>
                </div>
                <div class="small-2 columns">
                    <button>Go</button>
                </div>
            </div>
        </div>
        <div class="small-8 columns">
            <h2>This is the content area</h2>
        </div>
    </div>
{% endblock base_body %}
