{% extends "foundation/base.html" %}

{% block base_body %}
<!--     <div class="row">
      <div class="large-centered columns">
        <h1>StartUp Guwahati!</h1>      
      </div>
    </div> -->

<!--     <ul data-orbit>
        <li>
            <img src="{{ MEDIA_URL }}demo/profilepic.jpg" />
            <div class="orbit-caption">Pic 1</div>
        </li>
        <li>
            <img src="{{ MEDIA_URL }}demo/profilepic.jpg" />
            <div class="orbit-caption">Pic 2</div>
        </li>
        <li>
            <img src="{{ MEDIA_URL }}demo/profilepic.jpg" />
            <div class="orbit-caption">Pic 3</div>
        </li>
    </ul> -->
    <div class="sticky ">
        <nav class="top-bar" data-topbar role="navigation" data-options="is_hover: true">
            <ul class="title-area">
                <li class="name">
                     <h1><a href="#">StartUp Guwahati </a></h1>
                </li>
                <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a>
                </li>
            </ul>
            <section class="top-bar-section">
                <ul class="left">
                    <li class="divider"></li>
                    <li><a href="#">Main Item 1</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Main Item 2</a></li>
                    <li class="divider"></li>
                    <li class="has-dropdown"><a href="#">Main Item 3</a>
                        <ul class="dropdown">

                            <li><label>Dropdown Level 3 Label</label></li>
                            <li><a href="#">Dropdown Level 3a</a></li>
                            <li><a href="#">Dropdown Level 3b</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Dropdown Level 3c</a></li>
                        </ul>
                    </li>
                    <li class="divider"></li>
                    <li class="has-form">
                        <form>
                            <div class="row collapse">
                                <div class="small-8 columns">
                                    <input type="text">
                                </div>
                                <div class="small-4 columns">
                                    <a href="#" class="alert button">Search</a>
                                </div>
                            </div>
                        </form>
                    </li>
                </ul>
            </section>
        </nav>
    </div>

    <!-- Size Classes -->
    <a class="button" href="#">Default Button</a>
    <a class="tiny button" href="#">Tiny Button</a>
    <a class="small button" href="#">Small Button</a>
    <a class="large button" href="#">Large Button</a>
     
    <!-- Color Classes -->
    <a class="button secondary" href="#">Secondary Button</a>
    <a class="button success" href="#">Success Button</a>
    <a class="button alert" href="#">Alert Button</a>
     
    <!-- Radius Classes -->
    <a class="button radius" href="#">Radius Button</a>
    <a class="button round" href="#">Round Button</a>
     
    <!-- Disabled Class -->
    <a class="button disabled" href="#">Disabled Button</a>

    <ul class="button-group">
        <li><a class="small button success" href="#">Button 1</a></li>
        <li><a class="small button disabled" href="#">Button 2</a></li>
        <li><a class="small button" href="#">Button 3</a></li>
    </ul>

    <a class="button dropdown" href="#" data-dropdown="drop1">Dropdown Button</a>
     
    <ul class="f-dropdown" id="drop1">
        <li><a href="#">This is a link</a></li>
        <li><a href="#">This is another</a></li>
        <li><a href="#">Yet another</a></li>
    </ul>

    <ul class="clearing-thumbs" data-clearing="">
        <li><a href="path/to/your/img"><img alt="" src="path/to/your/img-th" /></a></li>
        <li><a href="path/to/your/img"><img alt="" src="path/to/your/img-th" /></a></li>
        <li><a href="path/to/your/img"><img alt="" src="path/to/your/img-th" /></a></li>
    </ul>
    
{% endblock base_body %}
